$color-primary-dark: #0b1426;
$color-primary-red: #f77b95;
$color-primary-green: #20bca4;
$color-primary-blue:#60C8D8;
$color-secondary-blue2:#47B5FF;
$color-primary-white:#fff;

$color-secondary-dark:#122036;
$color-secondary-dark-2:#122946;
$color-secondary-blue: rgb(5, 89, 91);

$color-light-1:#E7F6F2;
$color-light-3:#C9CFDD;
// $color-light-1:#E7F6F2;
// $color-light-1:#E7F6F2;

$color-dark-1:#2C3333;
$color-dark-2:#142443;
$color-dark-3:#064663;